---
title: How to Stay Up-to-date with Node.js
date: 2010-08-02 00:00 CET
tags: nave, nodejs, npm
author: dtrejo
---
<%= image_tag '13088489-node.js_logo.png' %>

<p>Node.js is changing every day and new releases are very frequent.&nbsp;Here is how I stay up to date with the latest release version of Node.js.&nbsp;</p>
<p>This guide assumes you already have node.js installed and you are familiar with the command line.</p>
<p>1. Install&nbsp;<a href="http://github.com/isaacs/npm">npm</a>&nbsp;(<a href="http://github.com/isaacs/npm">full npm install guide</a>)</p>
<div class="CodeRay">
  <div class="code"><pre>curl http://npmjs.org/install.sh | sh</pre></div>
</div>

<p>Or update it if you've already installed it</p>
<div class="CodeRay">
  <div class="code"><pre>npm install npm</pre></div>
</div>

<p>2. Install <a href="http://github.com/isaacs/nave">nave</a> with npm</p>
<div class="CodeRay">
  <div class="code"><pre>npm install nave</pre></div>
</div>

<p>3. Use nave to run the version of your choice in a subshell</p>
<div class="CodeRay">
  <div class="code"><pre>nave use 0.1.102</pre></div>
</div>

<p>4. All done! &nbsp;Repeat from step 3 whenever a new version of node is released. By the way, npm is great, you can even use it to update itself :)</p>
<p>&nbsp;</p>
<p>What tools do you use to stay up to date? If there is a better way, please let me know!</p>

### Comments

#### Aug  2 2010, 11:40 AM

#### Isaac Schlueter responded:

> Haha, this post is basically "Use Isaac's stuff."<br><br>
Nave is great for release versions, but it's also good to keep a git repo up to date with ry/master if you hack on node itself or submit patches.  In my "main" shell, I'm running the latest HEAD, and then drop into the nave subshell to test on release versions.<br><br>
Minor point: you don't have to do "nave install" before doing "nave use".  If the version isn't already installed, it'll install it for you.

#### Aug  2 2010, 11:48 AM

#### David Trejo responded:
> Thanks for the tip — I've made it one step shorter :)
