---
title: Touch Tone Tanks featured on TechCrunch TV!
date: 2010-12-07 00:00 CET
tags:
author: dtrejo
---

<%= image_tag '18390178-techcrunch_logo.png' %>

Our app, Touch Tone Tanks, was featured at 6:45 on <a href="http://techcrunch.com/2010/12/07/cloudstock-salesforce-hackers-tctv/">TechCrunch TV</a>.

Pretty exciting :)

<p>- David Trejo</p>
