---
title: Meta Rules
date: 2010-07-27 00:00 CET
tags: brentpottenger
author: dtrejo
---

<%= image_tag '12754556-healthcare_epistemocrat.png' %>

<p>Check out my guest post to Brent Pottenger's blog, <a href="http://epistemocrat.blogspot.com/" target="_blank">Healthcare Epistemocrat</a>.</p>
<p>The post centers on meta rules and the ways I make my life more enjoyable.</p>
<p>Here's the link:</p>
<p><a href="http://epistemocrat.blogspot.com/2010/07/david-trejos-m1n1-meta-rules.html" target="_blank">David Trejo's Meta Rules</a></p>
