---
title: Node.js for Server Newbs
date: 2010-09-03 00:00 CET
tags: howto, nodejs
author: dtrejo
---

<%= image_tag '13088489-node.js_logo.png' %>

<p>This is the story of how a&nbsp;webserver noob and thrifty college student got access to a server on which to run node.js.</p>
<p>This guide is for those who have used node.js locally, but want to run it on a server and show their projects to the world.</p>
<p>This assumes (almost) no familiarity with how hosting works, but does assume some familiarity with node.js and building from source. This guide will help you install node.js on an Ubuntu 10.4, 64-bit machine.</p>
<p>Here we go:</p>
<p>Sign up for web hosting at <a href="http://webbynode.com/">webbynode</a>. Why did I choose webbynode? It offers hosting for $10/month with root access. Only prgrmr competes<span style="font-family: sans-serif; border-collapse: collapse; line-height: 19px;">&dagger;</span>, but they have $4/month worth of support, which is scary for those new to hosting, namely myself. I also shied away from webfaction ($9.50/month), because while they do allow you to install node.js in your home directory, there are all kinds of configuration headaches (I think). In any case, these instructions are specific to webbynode with the Ubuntu setup.&nbsp;<strong>Update</strong>: to get 99 cents off with webbynode, use <code>davidt</code> at checkout.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Under deploy, click the bare linux image, then choose ubuntu 10.4, 64-bit. This may take a a minute or so. When it is active, continue on.</p>
<p>On your dashboard you should see the IP of your webby, it looks like this: x.x.x.x</p>
<p>Open up a console* on your local machine, and run these at the command line:</p>
<div class="CodeRay">
  <div class="code"><pre>localmachine$ ssh root@x.x.x.x</pre></div>
</div>

<p>(Enter your password to log into your webby server)</p>
<p>This is key, as it allows you to do everything else:</p>
<div class="CodeRay">
  <div class="code"><pre>webby# apt-get update
webby# apt-get install git-core g++ make curl libssl-dev</pre></div>
</div>

<p>(python is already installed)</p>
<p>&nbsp;</p>
<p>Now to download the node files and build them&nbsp;(make sure to use the latest version from <a href="http://nodejs.org/#build">http://nodejs.org/#build</a>):</p>
<div class="CodeRay">
  <div class="code"><pre>webby# curl -O http://nodejs.org/dist/node-v0.2.0.tar.gz
webby# tar xvzf node-v0.2.0.tar.gz
webby# cd node-v0.2.0
webby# ./configure
webby# make
webby# make install
webby# node --version
&gt;0.2.0</pre></div>
</div>

<p>You're ready to write some JS and serve people up!</p>
<p>Cheers!</p>
<p>-David</p>
<p>&nbsp;</p>
<p>PS In order to start serving your site from yourdomain.com, you'll need to follow webbynode's instructions for changing the dns setting with whoever you bought your domain from. Here's their guide:&nbsp;<a href="http://guides.webbynode.com/articles/webbymanager/dns-setup.html">http://guides.webbynode.com/articles/webbymanager/dns-setup.html</a> Don't forget to migrate your blog and other things!</p>
<p>Bonus:</p>
<p>Set up security on your machine with <a href="http://guides.webbynode.com/articles/security/ubuntu810-ufw.html">http://guides.webbynode.com/articles/security/ubuntu810-ufw.html</a></p>
<p>Use Tim's guide to restart your node process when it crashes [just pay attention to the <code>upstart</code> parts, if you want to keep moving parts to a minimum]</p>
<p><a href="http://howtonode.org/deploying-node-with-spark">http://howtonode.org/deploying-node-with-spark</a></p>
<p>&nbsp;</p>
<p><span style="font-family: sans-serif; border-collapse: collapse; line-height: 19px;">&dagger; that I know of &mdash; let me know if you find other good options!</span></p>
<p>* If you are using a pc you may need to install something like putty so that you can use <code>ssh</code>.</p>
