---
title: Watch me demo my phone-controlled game! 7pm tonight! (#nytm #node.js #twilio #socket.io)
date: 2010-11-02 00:00 CET
tags: nodejs
author: dtrejo
---

<a href="http://livestream.com/nytechmeetup">
  <%= image_tag '16989729-nytm.png' %>
</a>

<p><strong>Update</strong>: You can now see a <a href="http://cdn.livestream.com/grid/LSPlayer.swf?channel=nytechmeetup&clip=pla_2d890cfb-b16e-4617-8df5-c19b15c7b446&autoPlay=false">video demo of touch tone tanks!</a>&nbsp;(It turns out we didn't crash and burn)</p>
<p>Good afternoon!</p>
<p>Later today <a href="http://paulkernfeld.com/">Paul</a>, <a href="http://justinardini.com/">Justin</a>, and myself will be demoing our <a href="http://twilly.no.de/">phone-controlled tanks game</a>* in front of 900 people at New York Tech Meetup! (I hope we don't crash and burn)</p>
<p>You can watch us live at&nbsp;<a href="http://livestream.com/nytechmeetup/">livestream.com/nytechmeetup</a>&nbsp;at 7pm tonight.</p>
<p>Cheers,</p>
<p>David</p>
<p>&nbsp;</p>
<p>* In case you're curious about how this works:</p>
<p>First you set up a projector or other large screen, then you bust out your phones, call our phone number, and press the buttons on your keypad to shoot or move around. The tones are sent to the game over all kinds of crazy internet infrastructure (Twilio, node.js, and socket.io if you're curious. We've even open-sourced the communication bits of it so you can build your own phone controlled game or web application. See <a href="https://github.com/dtrejo/nodaphone">nodaphone</a>&nbsp;for documentation and source.)</p>
