---
title: Hotkeys for Hacker News
date: 2010-08-14 00:00 CET
tags: hackernews
author: dtrejo
---

<div class='post_body'><div>I was bored so I made gmail-style <a href="https://chrome.google.com/extensions/detail/nkeegljkkibjiiaehmjfncdbkbbgdojb">hotkeys for Hacker News</a>. You can install the chrome extension <a href="https://chrome.google.com/extensions/detail/nkeegljkkibjiiaehmjfncdbkbbgdojb">here</a>.</div>
<p />

<%= image_tag '13723338-hacker_news_hotkeys_frontpage.png' %>

<p />
<div>I thought I'd add support for Vim and Emacs style hotkeys, but then I didn't.</div>
<p />
<div>Hope you like the chrome extension. If you are concerned about privacy, it *only* runs on <a href="http://news.ycombinator.com/*" target="_blank">http://news.ycombinator.com/*</a></div>
<p />
<div>Have a great day,</div>
<div>David</div>
<div>(<a href="http://news.ycombinator.com/user?id=DTrejo">DTrejo</a> on HN)</div>
<p />
<div>PS Here's the source if you fancy seeing it:&nbsp;<a href="http://github.com/DTrejo/HN-Hotkeys">http://github.com/DTrejo/HN-Hotkeys</a>&nbsp;Most of the action goes on in hnkeys.js</div></div>
