---
title: Always be Coding
date: 2010-11-22 00:00 CET
tags: productivity
author: dtrejo
---

<p>It is very difficult to always be coding. Here is a list that helps me make progress even when I&rsquo;m presented with a hairy complicated technical problem. This list also helps soldier on even if I&rsquo;m not feeling particularly motivated, or in the mood.</p>
<h2>Mind Tricks</h2>
<p>I&rsquo;ve ordered this list from hardest to easiest in an attempt to trick my brain into doing at least one of these things:</p>
<ul>
<li>Finish the whole project in one day. <span class="caps">BAM</span>.</li>
<li>Pick an isolated sub-problem and solve that</li>
<li>Take a 10 minute break and go outside, then come back and look at the problem again</li>
<li>Write pseudocode</li>
<li>Write really horrible and ugly and wrong pseudocode, with tons of TODOs and FIXMEs.</li>
<li>Find a friend who is doing work, and make them guilt you into working with them [New! A highly effective tip suggested by&nbsp;<a href="http://eactiv.com/">Charles Yeh</a>]</li>
<li>write tests and example cases to help focus your implementation [New! Big hat tip to <a href="http://twitter.com/#!/jeremyhoffman">Jeremy Hoffman</a>]</li>
</ul>
<p>On a somewhat different axis:</p>
<ul>
<li>Take a pen and paper and sit outside, far away from any screens, and just draw out the problem and how it flows</li>
</ul>
<blockquote>I actually love drafting with a pen and paper, as you described. Somehow it's easier for me to draw out bullet points, boxes, lines, and bits of pseudocode than it is for me to conceive of it on a screen. A trick I've been doing lately, especially when I have to learn a new system or API with many components, is to put each key function or object on a Post-it note. I stick the Post-Its on my desk, or on a single sheet in my notebook if I want to carry my diagram with me (or draw lines between post-its instead of on them). When I need to change my diagram, I don't have to erase anything, I can just move or replace the applicable Post-Its. High-tech!&nbsp;<span> </span>&mdash;<em>&nbsp;<a href="http://twitter.com/#!/jeremyhoffman">Jeremy Hoffman</a></em></blockquote>
<ul>
<li>Write pseudocode with a pen and paper</li>
<li>Take nap, but <span class="caps">ONLY</span> after you&rsquo;ve done one of the above things for at least 5 minutes!</li>
</ul>
<p>If you have any mind tricks, please share!</p>
<p>&ndash; David</p>
<p>PS Make sure to use&nbsp;<a href="http://calendaraboutnothing.com/">calendaraboutnothing.com</a>&nbsp;to really keep yourself honest&nbsp;(suggested by <a href="http://jetienne.com/">jettiene</a> of #node.js &mdash; thanks!).</p>
