---
title: Salary Negotiation Resources (CS focused)
date: 2013-01-06 00:00 CET
tags: salary negotiation
author: dtrejo
---

**This is a dump of my personal notes; expect nothing!**

### General
- <a href="http://www.offer-letters.com/">http://www.offer-letters.com/</a>
- <a href="http://www.jamesaltucher.com/2011/11/how-to-negotiate-in-three-easy-lessons/">http://www.jamesaltucher.com/2011/11/how-to-negotiate-in-three-easy-lessons/</a>
- <a href="http://www.iwillteachyoutoberich.com/blog/negotiate-like-an-indian-i-taught-my-friend-how-to-negotiate-an-8000-salary-increase/">http://www.iwillteachyoutoberich.com/blog/negotiate-like-an-indian-i-taught-m...</a>
- <a href="http://mindyourdecisions.com/blog/2009/08/04/how-to-negotiate-a-pay-raise-with-game-theory/">http://mindyourdecisions.com/blog/2009/08/04/how-to-negotiate-a-pay-raise-wit...</a>
- why you should talk about salary with co-workers and friends: <a href="http://news.ycombinator.com/item?id=4767273">http://news.ycombinator.com/item?id=4767273</a>
- summary/review of secrets of power negotiating book: <a href="http://www.korokithakis.net/posts/secrets-power-negotiating/">http://www.korokithakis.net/posts/secrets-power-negotiating/</a>

### Startup-specific
- <a href="http://accountalent.com/?p=380">http://accountalent.com/?p=380</a>
- How I negotiated my startup compensation
<a href="http://blog.keen.io/post/29904565692/how-i-negotiated-my-startup-compensation">http://blog.keen.io/post/29904565692/how-i-negotiated-my-startup-compensation</a> [article crit: <http://news.ycombinator.com/item?id=4413569> ]
- Should you join that start-up? Running the numbers.
 <a href="http://auscillate.com/post/238">http://auscillate.com/post/238</a>
- [great comments] <a href="http://news.ycombinator.com/item?id=2928339">http://news.ycombinator.com/item?id=2928339</a>

### Books

- ask for it on amazon; be sure to do excercises with whichever friend of yours is best at negotiating
- summary/review of secrets of power negotiating book: <a href="http://www.korokithakis.net/posts/secrets-power-negotiating/">http://www.korokithakis.net/posts/secrets-power-negotiating/</a>

### Scientific
- <a href="http://link.springer.com/chapter/10.1007%2F978-3-642-00142-0_66">http://link.springer.com/chapter/10.1007%2F978-3-642-00142-0_66</a>
- <a href="http://link.springer.com/article/10.1007%2Fs11211-008-0084-x">http://link.springer.com/article/10.1007%2Fs11211-008-0084-x</a>
- <a href="http://psycnet.apa.org/index.cfm?fa=search.displayRecord&amp;UID=2001-17820-002">http://psycnet.apa.org/index.cfm?fa=search.displayRecord&amp;UID=2001-17820-002</a>

## unread
- <a href="http://news.ycombinator.com/item?id=2309317">http://news.ycombinator.com/item?id=2309317</a>
- <a href="http://news.ycombinator.com/item?id=2438980">http://news.ycombinator.com/item?id=2438980</a>
